.dis{display:grid;
  grid-template-columns: auto auto auto;
justify-content: center;
align-items: center;
height:100vh;
}
body{
  background-color:#2092F5;
  background-image: linear-gradient(to right,#0163E7, #33AEFF);
}
.fl{
  margin:20px;
  text-align: center;
  padding: 20px;
  height:auto;
  width:300px;
  font-size: 14px;    
  background-color: azure;  
  border-radius: 20px;
  }

  .inner{
    text-align: start;
    display: grid;
    row-gap:1.5em;
    
  }

  span{font-weight: bold;
    padding-right: 2px;
  }
  Button{border-radius:50px;}
  .card-price{
    font-size: 3rem;
  }
  .period{font-size: 0.8rem;}